.searchbar {
    @apply py-2 pl-12 pr-4 w-full rounded-lg 
    placeholder:italic placeholder:text-slate-400;
}

.searchbar::before {
    width: 2rem;
    height: 2rem;
}

navbar .link-group .link-item {
    @apply mr-4 text-xl font-bold;
}

navbar .link-group .link-item:last-child{
    @apply mr-0;
}